@use './global/' as global;

.p-inner {
    min-height: calc(100vh - global.$headerSectionH);
    position: relative;
    background-color: global.$color-red;
    overflow: hidden;

    &__container {
        padding: 7rem 0 11.5rem;
    }

    &__news {
        display: none;
        list-style: none;

        &-item {
            position: relative;
            margin-top: 3.7rem;

            &:first-of-type {
                margin-top: 0;
            }
        }

        &-link {
            color: global.$color-white;
            text-decoration: none;
            padding-bottom: 3.8rem;
            display: block;
            position: relative;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                border-bottom: 0.1rem solid global.$color-white;
            }

            &:hover {
                color: global.$color-black;
            }
        }

        &-date {
            display: block;
            position: relative;
            width: fit-content;
            padding-right: 1.5rem;
            margin-bottom: 2rem;
            letter-spacing: 0.1rem;
            line-height: 1;

            &::after {
                content: "/";
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%);
                font-size: 1.3rem;
                line-height: 1;
            }
        }

        &-title {
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            line-height: 1;
        }
    }

    &__news.active {
        display: block;
    }

    &__pagination {
        position: relative;
        margin-top: 7rem;

        a {
            text-decoration: none;
            color: global.$color-white;
            cursor: pointer;

            &:hover {
                &:not(.active) {
                    color: global.$color-black;
                }
            }
        }

        &-container {
            width: fit-content;
            padding: 0 7.8rem;
            margin: 0 auto;
            position: relative;
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .active {
                background-color: global.$color-black;
            }
        }

        &-item {
            margin-left: 2rem;

            &:first-of-type {
                margin-left: 0;
            }
        }

        &-link {
            padding: 0 0.7rem;
            font-size: 2.8rem;
            line-height: 1;
            font-weight: 300;
            min-width: 4rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-next {
            @include global.arrowBtn("right", global.$color-white);
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 0;

            &:hover {
                border-left-color: global.$color-black;
            }
        }

        &-prev{
            display: none;
            @include global.arrowBtn("left", global.$color-white);
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;

            &:hover {
                border-right-color: global.$color-black;
            }
        }
    }
}